.ConfigProfile {
  width: 210px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-right-width: 1px;
  padding: 15px 10px;
 
  a {
    text-decoration: none;
  }
}
