.Error404 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  font: 600 15px "Roboto", sans-serif;
  color: gray;

  .icone {
    display: flex;
    flex-direction: column;
    gap: 2px;

    text-align: center;
  }

  img {
    height: 50px;
    filter: grayscale(100);
  }
}
